<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Users CRUD API</span>
      <span class="example-spacer"></span>
      <button mat-flat-button color="accent" *ngIf="!authService.isLoggedIn" [routerLink]="['/auth/sign-in']" routerLinkActive="router-link-active"  type="submit" class="btn-menu">Login</button>
      <button mat-flat-button color="accent" *ngIf="!authService.isLoggedIn" [routerLink]="['/auth/sign-up']" type="submit" class="btn-menu">Register</button>
      <button mat-flat-button color="warm" *ngIf="authService.isLoggedIn" (click)="logout()" type="submit" class="btn-menu">Logout</button>
      
    </mat-toolbar-row>
</mat-toolbar>
